     <section id="page-contact" class="page-contact">
          <div class="container">
              <header class="section-header">
                  <h2 class="section-title"><span>Contact</span></h2>
                    <div class="spacer"></div>
                       <p class="section-subtitle">Any question? </p>
              </header>
        <div class="row">
          <div class="col-sm-12 contact-info">
            <h3>Contact Info</h3>
            <p><i class="fa fa-map-marker"></i> 51 rue Zeecrabbe 1180 Brussels </p>
            <p><i class="fa fa-phone"></i> (+32) 486 899 652</p>
            <p><i class="fa fa-envelope-o"></i> martin@joyouscoding.com</p>
          </div>
          
        </div><!-- End row -->

        </div>
    </section>

        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.scrollTo.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/jquery.easypiechart.min.js"></script>
        <script src="js/jquery.vegas.min.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.validate.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/main.js"></script>
