<section id="page-welcome" class="page-welcome">
      <div>
          <ul class="slider-controls">
              <li><a id="vegas-next" class="next" href="#"></a></li>
              <li><a id="vegas-prev" class="prev" href="#"></a></li>
          </ul>
        </div>
        <div class="container">
            <div class="row">
                <header class="centered">
                    <h1>Martin Van Aken</h1>
                    <p>Joyous coder &amp; coach</p>
                </header>
                <a href="#page-contact" class="btn btn-default hire-me">Hire Me</a>
            </div>
        </div>
    </section>