<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  {% include header.html %}
  {% include welcome.html %}
  <section id="page-profile" class="page-profile">
    <div class="container">
      <header class="section-header">
        <h2 class="section-title">{{ page.title }}</h2>
        <div class="spacer"></div>
        <p class="section-subtitle">{{  page.subtitle }}</p>
      </header>
      <div class="row">
        <div class="col-md-12">
          {{ content }}
        </div>
      </div>
    </div>
  </section>

  {% include footer.html %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-57646390-4', 'auto');
    ga('send', 'pageview');

  </script>
  </body>

</html>
