---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>

    <% link_to "http://middlemanapp.com/" do %>
      <p>Midddddleman !</p>
    <% end %>
  </p><!-- .doc -->
  <% data.posts.each do |post| %>
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
  <% end %>
</div><!-- .welcome -->
